@import "./components/login.scss";
@import "./components/checkList.scss";
@import "./components/signup";
@import "./components/createEventForm";
@import "./components/profileForm";
@import "./components/show-event.scss";
@import "./components/admin.scss";
@import "./components/search-event.scss";
@import "./components/filter.scss";
@import "./components/profileUserInfo.scss";
@import "./components/user-events.scss";
@import "./components/user-tickets.scss";
@import "./components/comment.scss";
@import "./components/landing.scss";

.ant-btn{
  border-radius: 7px;
}

.ant-btn-primary{
  background-color: #13c2c2;
}

.ant-input{
  border-radius: 5px;
}

.ant-modal-content{
  border-radius: 10px;
}

.ant-modal-header{
  border-radius: 10px;
}
