#landing-form .signup-form-button {
  width: 100%;
}

#landing-form {
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh;
    background-color: #f4f7fc;
    padding: 0% 5%;
}

#landing-form .text-center{
	// color:#f542ef;
  // color:#026770;
	text-transform:uppercase;
    font-size: 16px;
    margin: 0px 0 40px 0;
    display: block;
    text-align: center;
}

#landing-form .head{
  // color:#026770;
  color:#00AEEF;
	text-transform:uppercase;
    font-size: 30px;
    margin: 0px 0 0px 0;
    display: block;
    text-align: center;
    // font-size: 1.75em;
}

#landing-form .img-div{
  text-align: center;
}


#landing-form .box{
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.89) 0%, rgba(247, 252, 252,0.89) 100%);
	border-radius:10px;
	padding: 2% 7%;
  // width: 1000px;

  box-shadow: 0px 10px 15px rgba(61, 99, 174, 0.16);
  // margin: 50px 0px;
  margin: 2% 0%;
  // background-color: #fff;
  // text-align: center;
}

#landing-form .box-item{
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.89) 0%, rgba(86,128,233,0.89) 100%);
	border-radius:3px;
	// padding:70px 100px;
}


#landing-form Input:focus{
  border:none;
  outline:none;
  border-bottom:3px solid #73CAC5;
}

#landing-form Input:hover{
  box-shadow: 0px 10px 15px rgba(61, 99, 174, 0.16);
}

#landing-form .get-shadow:hover{
  box-shadow: 0px 10px 15px rgba(61, 99, 174, 0.16);
}

#landing-form .input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#000;
    pointer-event:none;
	transition: all 0.5s ease-in-out;
// background-color: #000;
}

#landing-form .input-container Input{
  border:0;
  border-bottom:1px solid #555;
  // background:transparent;

  // background-color: #9FEDD7;
  width:100%;
  padding:8px 0 5px 0;
  // font-size:16px;
  // color:#4287f5;
  // color:#9FEDD7;
  // background-color: rgba(135,96,208, 0.89);
  // background-color: rgba(86,128,233, 0.89);
  // background-color: rgba(193,200,228, 0.89);
  background: linear-gradient(to right, rgba(86, 128, 233, 1) 0%, rgba(90, 250, 160, 1) 100%);
  // background-color: #000;
}

#landing-form .input-container Input:focus{
 border:none;
 outline:none;
 // border-bottom:3px solid #9FEDD7;
 // border-bottom:3px solid #FCE181;
    border-bottom:3px solid #f5428d;
 // border-bottom:3px solid #b042f5;
}

#landing-form .input-container Input:focus ~ label,
#landing-form .input-container Input:valid ~ label{
	top:-12px;
	font-size:12px;
}

#landing-form .get-border-radius{
  border-radius: 5px;
}

#landing-form .center-button{
  // shape:round;
  // background-color: #28FF0D;
  // border-radius: none;
  background-color:#74C7FA;
}

#landing-form .signup-button{
  background-color:#74C7FA;
}

#landing-form .signup-button-div{
  // align-content: flex-end;
  // align:center;
  text-align: right;
}

#img-div{
  text-align: center;
}


#landing-page .landing-page-header{
  height: 200px;
  background-color: #74C7FA;
}

#landing-page .landing-page-footer{
  background-color: #74C7FA;
}

#event-types Img{
  border-radius: 10px;
  // border-radius: 100%;
}

#features Img{
  border-radius: 10px;
}
