@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

#landing-form .signup-form-button {
  width: 100%;
}

#landing-form {
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:80vh;
    background-color: #f4f7fc;
    padding: 0% 5%;
}

#landing-form .text-center{
	// color:#f542ef;
  // color:#026770;
	text-transform:uppercase;
    font-size: 16px;
    margin: 0px 0 20px 0;
    display: block;
    text-align: center;
}

#landing-form .head{
  // color:#026770;
  // color:#00AEEF;
  color:#13c2c2;

  // background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.89) 0%, rgba(247, 252, 252,0.89) 100%);
	text-transform:uppercase;
    font-size: 30px;
    margin: 0px 0 0px 0;
    display: block;
    text-align: center;
    // font-size: 1.75em;
}

#landing-form .img-div{
  text-align: center;
}


#landing-form .box{
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.89) 0%, rgba(247, 252, 252,0.89) 100%);
	border-radius:10px;
	padding: 2% 7%;
  // width: 1000px;

  box-shadow: 0px 10px 15px rgba(61, 99, 174, 0.16);
  // margin: 50px 0px;
  margin: 2% 0%;
  // background-color: #fff;
  // text-align: center;
}

#landing-form .box-item{
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.89) 0%, rgba(86,128,233,0.89) 100%);
	border-radius:3px;
	// padding:70px 100px;
}


#landing-form .get-shadow:hover{
  box-shadow: 0px 10px 15px rgba(61, 99, 174, 0.16);
}

#landing-form .get-border-radius{
  border-radius: 5px;
}

#landing-form .center-button{
  // shape:round;
  // background-color: #28FF0D;
  // border-radius: none;
  // background-color:#74C7FA;
  background-color:#13c2c2;

}

#landing-form .signup-button{
  // background-color:#74C7FA;
  background-color:#13c2c2;

}

#landing-form .signup-button-up{
  // background-color:#74C7FA;
  background-color:#13c2c2;
  // font-family: 'Noto Sans', sans-serif;
  font-family: 'Satisfy', cursive;
  font-size: 2em;
  height: 60px;
  width: 200px;
}

#landing-form .signup-button-up-div{
  text-align: center;
  margin-bottom: 20px;
}

#landing-form .signup-button-div{
  text-align: right;
}

#img-div{
  // text-align: center;
  margin-left: 6%;
}


#img-div Img{
  border-radius: 5px;
//   user-drag: none;
// user-select: none;
// -moz-user-select: none;
// -webkit-user-drag: none;
// -webkit-user-select: none;
// -ms-user-select: none;
// pointer-events: none;
// -webkit-user-select: none; /* Safari */
// -moz-user-select: none; /* Firefox */
// -ms-user-select: none; /* IE10+/Edge */
// user-select: none; /* Standard */
}


#landing-page .landing-page-header{
  height: 70px;
  // background-color: #74C7FA;
  // background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.89) 0%, rgba(0, 174, 239, 1) 100%);
  // background: linear-gradient(to bottom right, rgba(19, 194, 194, 1) 0%, rgba(0, 174, 239, 1) 100%);
  background: linear-gradient(to bottom right, rgba(19, 194, 194, 1) 0%, rgba(86,128,233,0.89) 100%);
}

#landing-page .landing-page-footer{
  // background-color: #74C7FA;
  // background: linear-gradient(to bottom right, rgba(19, 194, 194, 1) 0%, rgba(0, 174, 239, 1) 100%);
  background: linear-gradient(to bottom right, rgba(19, 194, 194, 1) 0%, rgba(86,128,233,0.89) 100%);

}

#landing-page{
  height: 93vh;
  overflow-y: scroll;
}

#event-types Img{
  border-radius: 10px;
  // border-radius: 100%;
}

#features Img{
  border-radius: 10px;
}

#img-div-footer{
  text-align: center;
}


#img-div-footer Img{
  border-radius: 10px;
}

#img-div-footer a{
  // color:red;
  // color:grey;
  color:white;
  // color:blue;
  // color:green;

}

#img-div-footer .left-text{
  text-align: left;
  padding-left: 100px;
  color: white;
  // margin-top: 10px;
}


#img-div-footer .social-media{
  text-align: left;
  // height: 50px;
  font-size: 1.5em;
  margin-top: 10px;
}

#landing-menu a{
  color:white;
  margin-right: 20px;
}
