@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

// #components-form-demo-normal-login Form.Item{
//   // transform: translate(-50%,-50%);
//     background-color: rgba(0, 0, 0, 0.89);
// }




#components-form-demo-normal-login {
	background-image: url("https://images.pexels.com/photos/891252/pexels-photo-891252.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
	min-height:100vh;
	font-family: 'Noto Sans', sans-serif;
}
#components-form-demo-normal-login .text-center{
	color:#f542ef;
	text-transform:uppercase;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}
#components-form-demo-normal-login .box{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.89);
	border-radius:3px;
	padding:70px 100px;
}
#components-form-demo-normal-login .input-container{
	position:relative;
	margin-bottom:25px;
}

#components-form-demo-normal-login .Form-Item{
background-color: #000;
}

#components-form-demo-normal-login .input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;
    pointer-event:none;
	transition: all 0.5s ease-in-out;
// background-color: #000;
}
#components-form-demo-normal-login .input-container Input{
  border:0;
  border-bottom:1px solid #555;
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#4287f5;
  // background-color: #000;
}
#components-form-demo-normal-login .input-container Input:focus{
 border:none;
 outline:none;
 border-bottom:5px solid #b042f5;
}
#components-form-demo-normal-login .input-container Input:focus ~ label,
#components-form-demo-normal-login .input-container Input:valid ~ label{
	top:-12px;
	font-size:12px;
}

#components-form-demo-normal-login .btn {
position: relative;
display: inline-block;
width: 277px;
height: 50px;
font-size: 1em;
font-weight: bold;
line-height: 60px;
text-align: center;
text-transform: uppercase;
background-color: transparent;
cursor: pointer;
text-decoration: none;
font-family: 'Roboto', sans-serif;
font-weight: 900;
font-size: 17px;
letter-spacing: 0.045em;
border: none;
}

#components-form-demo-normal-login .btn svg {
position: absolute;
top: 0;
left: 0;
}

#components-form-demo-normal-login .btn svg rect {
stroke-width: 4;
stroke-dasharray: 353, 0;
stroke-dashoffset: 0;
transition: all 600ms ease;
}

#components-form-demo-normal-login .btn span {
background: rgb(90, 220, 160);

background: linear-gradient(to right, rgba(90, 220, 160, 1) 0%, rgba(90, 250, 160, 1) 100%);
-webkit-background-clip: text;
background-clip: text;
color: transparent
}

#components-form-demo-normal-login .btn:hover svg rect {
stroke-width: 4;
stroke-dasharray: 196, 543;
stroke-dashoffset: 437;
}

#components-form-demo-normal-login .checkbox-color{
  color:#42f551;
}

#components-form-demo-normal-login .login-register-now{
  color:#42f551;
  padding-top: 20px;
}
