#components-profile-User-Info {
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f4f7fc;
    padding: 0% 5%;
    width: 70%;
    margin-top: 2%;
}

#components-profile-User-Info .statics{
    margin-top: 1%;
    margin-left: 2%;
    padding-bottom: 2%;
}

#components-profile-User-Info .image{
    margin-left: 1%;
    margin-bottom: 2%;
    width: 30%;
}

#components-profile-User-Info .editButton{
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
}

#components-profile-User-Info .info{
    margin-top: 2%;
    margin-left: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#components-profile-User-Info .infoPart{
    width: 60%;
}
