#search-event-component .card {
  border: solid 1px #73cac5;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.89)0%, rgba(247, 252, 252, 0.89)100%);
  width: 100%;
  border-radius: 10px;
  margin: 15px 0;
  // box-shadow: 0px 10px 15px rgba(61, 99, 174, 0.16);
  height: 70vh;
}

#search-event-component .card:hover {
  box-shadow: 0px 10px 15px rgba(61, 99, 174, 0.2);
  cursor: pointer;
}

#filter-component {
  background-color: #f4f7fc;
  height: 94vh;
}

#not-scrollable {
  overflow-y: hidden;
  height: 100vh;
}

#search-event-component {
  background-color: #F4F7FC;
  padding-top: 20px;
  // padding-right: 80px;
  // padding: 20px 80px;
  // width: 100%;
}

#search-event-component {
  color: #1c4947;
}

#search-event-component h2{
  color: #026770;
  margin-bottom: 0;
}

#search-event-component h5{
  margin-top: 0;
  font-size: 13px;
}

#search-event-component img {
  border-radius: 10px;
  width: 100%;
  height: 35vh;
}

#search-event-component .image-div {
  text-align: center;
}

#search-event-component .carousel {
  height: 35vh;
  border-radius: 10px;
}

#search-event-component .carousel:hover {
    box-shadow: 0px 10px 15px rgba(61, 99, 174, 0.2);
}

#search-event-component .event-details {
  line-height: 1.5;
  text-align: center;
}

#search-event-component .details-col {
  text-align: top;
}

#search-event-component .details-header {
}

#search-event-component .text{
  color: #1c4947;
}

#search-event-component .tags{
  padding-top: 40px;
}

#search-event-component .carousel button {
  border-radius: 95%;
  width: 15px;
  height: 15px;
}

#search-event-component .scrollable{
  overflow-y:scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  margin-top: -20px;
  padding-right: 20px;

}

#search-event-component .icon{
  // width: 10vh;
  // height: 10vh;
  font-size: 10em;
}

#search-event-component .not-found{
  text-align: center;
  align-content: center;
  margin-top: 30vh;

}
