#components-form-signup .signup-form {
  max-width: 300px;
}
#components-form-signup .signup-form-forgot {
  float: right;
}
#components-form-signup .ant-col-rtl .signup-form-forgot {
  float: left;
}
#components-form-signup .signup-form-button {
  width: 100%;
}

#components-form-signup {
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f4f7fc;
    padding: 0% 5%;
}

#components-form-signup .text-center{
  color:#026770;
	text-transform:uppercase;
    font-size: 23px;
    margin: 0px 0 80px 0;
    display: block;
    text-align: center;
}

#components-form-signup .box{
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.89) 0%, rgba(247, 252, 252,0.89) 100%);
	border-radius:10px;
	padding: 2% 7%;
  box-shadow: 0px 10px 15px rgba(61, 99, 174, 0.16);
  margin: 2% 0%;
}

#components-form-signup .row-from-left{
  margin-left: 11.1%;
}

#components-form-signup .f-l{
  margin-left: 1%;
  width: 35vh;
}

#components-form-signup .from-left{
  margin-left: 6.9%;
  width: 38vh;
}

#components-form-signup .box-item{
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.89) 0%, rgba(86,128,233,0.89) 100%);
	border-radius:3px;
}


#components-form-signup Input:focus{
  border:none;
  outline:none;
  border-bottom:3px solid #73CAC5;
}

#components-form-signup Input:hover{
  box-shadow: 0px 10px 15px rgba(61, 99, 174, 0.16);
}

#components-form-signup .get-shadow:hover{
  box-shadow: 0px 10px 15px rgba(61, 99, 174, 0.16);
}

//button style------------------------------------------------------------------------------------------------------
#components-form-signup .btn {
position: relative;
display: inline-block;
width: 277px;
height: 50px;
font-size: 1em;
font-weight: bold;
line-height: 60px;
text-align: center;
text-transform: uppercase;
background-color: transparent;
cursor: pointer;
text-decoration: none;
font-weight: 900;
font-size: 17px;
letter-spacing: 0.045em;
border: none;
}

#components-form-signup .btn svg {
position: absolute;
top: 0;
left: 0;
}

#components-form-signup .btn svg rect {
stroke-width: 1%;
stroke-dasharray: 100%, 0%;
stroke-dashoffset: 0;
transition: all 600ms ease;
}

#components-form-signup .btn span {
background: rgb(86, 128, 233);

background: linear-gradient(to right, rgba(86, 128, 233, 1) 0%, rgba(116, 221, 252, 1) 100%);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
}

#components-form-signup .btn:hover svg rect {
stroke-width: 1%;
stroke-dasharray:70%,180%;
stroke-dashoffset: 80%;
}

#components-form-signup .center-span{
  text-align: center;
  padding-left: 0%;
  position: relative;
  bottom: 9px;
}

#components-form-signup .center-button{
  margin-left: 25%;
}

#components-form-signup .center-form{
  margin-left: 0%;
}

#components-form-signup .checkbox-color{
  color:#42f551;
}

#components-form-signup .signup-register-now{
  color:#42f551;
  padding-top: 20px;
}
//end of button style--------------------------------------------------------------------------------------------

#components-form-signup .get-border-radius{
  border-radius: 5px;
}

#components-form-signup .resize-upload-dragger{
  top: 17px;
}

#components-form-signup .link-location{
  // left: 20%;
  margin-top: 0%;
  padding-left: 20%;
}
